:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5f5f5; /* Fond gris très clair pour faire ressortir les cartes blanches */
  color: #213547;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* FORCE LA LARGEUR TOTALE */
  max-width: 100%; /* Supprime la limite de Vite */
  margin: 0;
  padding: 0;
  text-align: left; /* Annule le centrage par défaut */
}

/* Reset pour les liens */
a {
  text-decoration: none;
  color: inherit;
}